<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Open+Sans:wght@400;600&display=swap">
    <link rel="stylesheet" href="https://github.com/Murtato1/astbench/blob/main/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>
</html>
